{
  "Entries": [
    {
      "RequestUri": "https://nicholgsrplayground.servicebus.windows.net/$schemagroups/nicholg01/schemas/test1?api-version=2020-09-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "text/plain; charset=utf-8",
        "Serialization-Type": "avro"
      },
      "RequestBody": "{\u0022type\u0022 : \u0022record\u0022,\u0022namespace\u0022 : \u0022TestSchema\u0022,\u0022name\u0022 : \u0022Employee\u0022,\u0022fields\u0022 : [{ \u0022name\u0022 : \u0022Name\u0022 , \u0022type\u0022 : \u0022string\u0022 },{ \u0022name\u0022 : \u0022Age\u0022, \u0022type\u0022 : \u0022int\u0022 }]}",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Location": "https://nicholgsrplayground.servicebus.windows.net/$schemagroups/nicholg01/schemas/test1/versions/1?api-version=2020-09-01-preview",
        "Schema-Id": "88b83e27a46f4687bc80f11e57392dfb",
        "Schema-Id-Location": "https://nicholgsrplayground.servicebus.windows.net:443/$schemagroups/getschemabyid/88b83e27a46f4687bc80f11e57392dfb?api-version=2020-09-01-preview",
        "Schema-Version": "1",
        "Schema-Versions-Location": "https://nicholgsrplayground.servicebus.windows.net:443/$schemagroups/nicholg01/schemas/test1/versions?api-version=2020-09-01-preview",
        "Serialization-Type": "Avro"
      },
      "ResponseBody": "eyJpZCI6Ijg4YjgzZTI3YTQ2ZjQ2ODdiYzgwZjExZTU3MzkyZGZiIn0="
    },
    {
      "RequestUri": "https://nicholgsrplayground.servicebus.windows.net/$schemagroups/getSchemaById/88b83e27a46f4687bc80f11e57392dfb?api-version=2020-09-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Location": "https://nicholgsrplayground.servicebus.windows.net/$schemagroups/nicholg01/schemas/test1/versions/1?api-version=2020-09-01-preview",
        "Schema-Id": "88b83e27a46f4687bc80f11e57392dfb",
        "Schema-Id-Location": "https://nicholgsrplayground.servicebus.windows.net:443/$schemagroups/getschemabyid/88b83e27a46f4687bc80f11e57392dfb?api-version=2020-09-01-preview",
        "Schema-Version": "1",
        "Schema-Versions-Location": "https://nicholgsrplayground.servicebus.windows.net:443/$schemagroups/nicholg01/schemas/test1/versions?api-version=2020-09-01-preview",
        "Serialization-Type": "Avro"
      },
      "ResponseBody": "eyJ0eXBlIjoicmVjb3JkIiwibmFtZXNwYWNlIjoiVGVzdFNjaGVtYSIsIm5hbWUiOiJFbXBsb3llZSIsImZpZWxkcyI6W3sibmFtZSI6Ik5hbWUiLCJ0eXBlIjoic3RyaW5nIn0seyJuYW1lIjoiQWdlIiwidHlwZSI6ImludCJ9XX0="
    }
  ],
  "Variables": {}
}